[Desktop Entry]
Name=Battle.net
Comment=Launch Battle.net through Steam Proton
Exec=/home/residentgoose/.local/bin/launch-battle-net
Icon=
Terminal=false
Type=Application
Categories=Game;
